.o-scroll {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    background-color: hsl(0,11%, 81%);

    .has-scroll-smooth & {
        position: relative;
    }

    [data-scroll-direction="horizontal"] & {
        white-space: nowrap;
        height: 100vh;
        display: inline-block;
        white-space: nowrap;
    }
}

.c-scrollbar {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.2s linear;

    transform: scaleX(1);
    &:hover {
        transform: scaleX(1.3);
    }

    &:hover {
        cursor: grab;
    }

    [data-scroll-direction="horizontal"] & {
        width: 100vw;
        height: 10px;
        top: auto;
        bottom: 0;

        transform: scaleY(1);
        &:hover {
            transform: scaleY(1.3);
        }
    }
}

.c-scrollbar_thumb {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &:hover {
        cursor: pointer;
    }


    [data-scroll-direction="horizontal"] & {
        right: auto;
        bottom: 0;
    }
}

[data-scroll-section] {
    [data-scroll-direction="horizontal"] & {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
    }
}

/* Default styles */
//
// .c-scrollbar {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 11px;
//     height: 100vh;
//     transform-origin: center right;
//     transition: transform 0.3s, opacity 0.3s;
//     opacity: 0;

//     &:hover {
//         transform: scaleX(1.45);
//     }

//     &:hover, .has-scroll-scrolling &, .has-scroll-dragging & {
//         opacity: 1;
//     }
// }

// .c-scrollbar_thumb {
//     position: absolute;
//     top: 0;
//     right: 0;
//     background-color: black;
//     opacity: 0.5;
//     width: 7px;
//     border-radius: 10px;
//     margin: 2px;
//     cursor: grab;

//     .has-scroll-dragging & {
//         cursor: grabbing;
//     }
// }
