.o-title_wrapper {
    text-align: center;
    padding: 35vh 0;
}

.o-title {
    text-align: center;
    font-size: 8vw;
    margin: 0;

    span {
        display: inline-block;
        min-width: 0.2em;
    }
}
