html {
    &.has-scroll-smooth {
        overflow: hidden;
    }

    &.has-scroll-dragging {
        user-select: none;
    }
}

body {
    .has-scroll-smooth & {
        overflow: hidden;
    }
}

[data-scroll-container] {
    .has-scroll-smooth & {
        min-height: 100vh;
    }
}
