// ==========================================================================
// Components / Buttons
// ==========================================================================


@use "../core" as *;
@use "text" as *;
.c-button {
    --button-height: #{rem(56px)};
    --button-padding: #{rem(16px)};
    --button-gap: #{rem(16px)};

    --button-color-text: var(--color-background);
    --button-color-background: var(--color-text);
    --button-color-stroke: var(--color-text);

    --button-hover-color-text: var(--color-text);
    --button-hover-color-background: var(--color-background);

    position: relative;
    overflow: hidden;
    border-radius: 4px;
    color: var(--button-color-text);
    border: 1px solid var(--button-color-stroke);
    background-color: var(--button-color-background);

    &.-stroke {
        --button-color-text: currentColor;
        --button-color-background: transparent;

        --button-hover-color-text: var(--color-background);
        --button-hover-color-background: var(--color-text);
    }
}

.c-button_wrap {
    &:nth-child(2) {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        color: var(--button-hover-color-text);
        background-color: var(--button-hover-color-background);
        clip-path: inset(10% -100% 10% 100% round 4px 4px 4px 4px);
        transition: clip-path t(normal) ease('power3.inOut');
    }

    .c-button:hover & {
        &:nth-child(2) {
            clip-path: inset(0 0 0 0 round 4px 4px 4px 4px);
        }
    }
}

.c-button_inner {
    display: inline-flex;
    align-items: center;
    column-gap: var(--button-gap);
    min-height: var(--button-height);
    padding: 0 var(--button-padding);
    transition: transform t(normal) ease('power3.inOut');

    .c-button_wrap:nth-child(1) & {
        .c-button:hover & {
            transform: translate3d(calc(-1 * var(--icon-width) - var(--button-gap)), 0, 0)
        }
    }

    .c-button_wrap:nth-child(2) & {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        flex-direction: row-reverse;
        transform: translate3d(calc(var(--icon-width) + var(--button-gap)), 0, 0);

        .c-button:hover & {
            transform: translate3d(0, 0, 0);
        }
    }
}

.c-button_label {
    @include text;
    font-size: var(--font-size-label);
}