@use "../core" as *;

.c-fadein-text_line {
    background: var(--background);
    -webkit-background-clip: text;
    color: transparent;
}

.fadeInText{
    &.-blue {
        --color-cta-fadein: #898fe9;
        --color: white;
    }
    &.-white {
        --color-cta-fadein: #cacdff;
        --color:  #{color(blue)};
    }
    &.-black {
        --color-cta-fadein: #424242;
        --color: white;
    }
}