// ==========================================================================
// Components / Features grid
// ==========================================================================


@use "../core" as *;
$color-grid: 282828;

.c-features-grid {
    @media (max-width: $to-small) {
        --rows: 6;
        --columns: 2;
        --cell-ratio: 180/220;
        --grid-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 361.5 1980'%3E%3Cpath fill='%23#{$color-grid}' fill-rule='evenodd' d='M173 1760H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v211h1v-211c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8v-203c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8v-203c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8v-203c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8V889c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8V669c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8V449c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8V229c0-4.4 3.6-8 8-8h171.5v-1H190c-4.4 0-8-3.6-8-8V.5c0-.3-.2-.5-.5-.5s-.5.2-.5.5V212c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8H1.5c-.3 0-.5.2-.5.5s.2.5.5.5H173c4.4 0 8 3.6 8 8v203c0 4.4-3.6 8-8 8z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
    }
    @media (min-width: $from-small) {
        --rows: 6;
        --columns: 4;
        --cell-ratio: 1;
        --grid-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1400 4198'%3E%3Cpath fill='%23#{$color-grid}' fill-rule='evenodd' d='M342 349a8 8 0 0 0 8-8V.5a.5.5 0 0 1 1 0V341a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8V.5a.5.5 0 0 1 1 0V341a8 8 0 0 0 8 8h333a8 8 0 0 0 8-8V.5c0-.276.22-.5.5-.5s.5.224.5.5V341a8 8 0 0 0 8 8h340c.28 0 .5.224.5.5s-.22.5-.5.5h-340a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h340c.28 0 .5.224.5.5s-.22.5-.5.5h-340a8 8 0 0 0-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v333c0 4.42 3.58 8 8 8h339c.28 0 .5.22.5.5s-.22.5-.5.5h-339c-4.42 0-8 3.58-8 8v339.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5V3858c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v339.5c0 .28-.224.5-.5.5s-.5-.22-.5-.5V3858a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v339.5c0 .28-.224.5-.5.5s-.5-.22-.5-.5V3858a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H.5c-.276 0-.5-.22-.5-.5s.224-.5.5-.5H342a8 8 0 0 0 8-8V708a8 8 0 0 0-8-8H.5a.5.5 0 0 1 0-1H342a8 8 0 0 0 8-8V358a8 8 0 0 0-8-8H.5a.5.5 0 0 1 0-1H342Zm17 1a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8V358a8 8 0 0 0-8-8H359Zm350.5 0a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333a8 8 0 0 0 8-8V358a8 8 0 0 0-8-8h-333Zm341 358a8 8 0 0 0-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8V708Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm0 350c0-4.42-3.58-8-8-8h-333a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333c4.42 0 8-3.58 8-8v-333Zm-358 341a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333a8 8 0 0 0 8 8h333.5ZM351 3491a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8v-333a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Zm0-350a8 8 0 0 0 8 8h333.5a8 8 0 0 0 8-8V708a8 8 0 0 0-8-8H359a8 8 0 0 0-8 8v333Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
    }

    position: relative;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: calc((var(--rows) + 2) / var(--columns) * (1 / (var(--cell-ratio))) * 100%);
        pointer-events: none;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // opacity: 0.15;
        background-size: cover;
        background-image: var(--grid-image);
        pointer-events: none;
    }
}

.c-features-grid_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        padding-top: calc(1 / var(--columns) * (1 / (var(--cell-ratio))) * 100%);
        background-color: var(--color-background);
        z-index: 1;
    }

    &::before {
        top: 0;
        -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    }

    &::after {
        bottom: 0;
        -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    }
}

.c-features-grid_inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    width: 100%;
    height: 100%;
    padding-top: calc(1 / var(--columns) * (1 / (var(--cell-ratio))) * 100%);
    padding-bottom: calc(1 / var(--columns) * (1 / (var(--cell-ratio))) * 100%);
    pointer-events: none;

    @media (max-width: $to-small) {
        grid-template-areas:
                            ". lenis"
                            "scrollbar locomotive"
                            "sticky ."
                            "sticky normalized"
                            "io scroll-to"
                            "direction ."
                            ". custom-easing";
    }

    @media (min-width: $from-small) {
        grid-template-areas:
                            "scrollbar  . lenis locomotive"
                            ". normalized  . ."
                            ". . sticky ."
                            "io . sticky ."
                            ". scroll-to sticky direction"
                            ". custom-easing sticky direction";
    }
}

.c-features-grid_cell {
    position: relative;
    text-align: left;

    &.-lenis         { grid-area: lenis }
    &.-locomotive    { grid-area: locomotive }
    &.-scrollbar     { grid-area: scrollbar }
    &.-normalized    { grid-area: normalized }
    &.-sticky        { grid-area: sticky }
    &.-io            { grid-area: io }
    &.-scroll-to     { grid-area: scroll-to }
    &.-direction     { grid-area: direction }
    &.-custom-easing { grid-area: custom-easing }

    @media (min-width: $from-small) {
        &.-io {
            transition: transform t(slow) ease('power3.out');

            &.is-inview {
                transform: translate3d(100%, 0, 0);
            }
        }
    }
}

.c-features-grid_cell_ratio {
    display: flex;
    aspect-ratio: var(--cell-ratio);
    padding: rem(16px);
    pointer-events: auto;

    .c-features-grid_cell.-sticky & {
        @media (min-width: $from-small) {
            position: sticky;
            top: calc(var(--header-height) + 1px);
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                background-color: var(--color-background);
                z-index: -1;
                top: -1px;
                left: 0px;
                width: calc(100% + 1px);
                height: calc(100% + 1px);
                border: 1px solid #{'#' + $color-grid};
                border-radius: calc(var(--vw, 1vw) * .6);
            }
        }
    }

    .c-features-grid_cell.-direction & {
        position: relative;
    }

    @media (min-width: $from-small) {
        .c-features-grid_cell.-io & {
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                top: -1px;
                left: 0px;
                width: calc(100% + 1px);
                height: calc(100% + 1px);
                background-color: var(--color-background);
                border-top: 1px solid #{'#' + $color-grid};
                border-right: 1px solid #{'#' + $color-grid};
                border-bottom: 1px solid #{'#' + $color-grid};
                border-top-right-radius: calc(var(--vw, 1vw) * .6);
                border-bottom-right-radius: calc(var(--vw, 1vw) * .6);
                z-index: -1;
            }
        }
        .c-features-grid_cell.-io.is-inview & {
            &::before {
                border-left: 1px solid #{'#' + $color-grid};
                border-radius: calc(var(--vw, 1vw) * .6);
            }
        }
    }

}

.c-features-grid_cell_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-right: rem(30px);

    &.-logo {
        padding-right: 0;
    }
}

// Link
// ========================================
.c-features-grid_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    @media(hover:hover) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .07;
            background-color: currentColor;
            clip-path: polygon(80% 20%, 80% 20%, 80% 20%, 20% 80%, 20% 80%, 20% 80%, 20% 80%, 80% 20%);
            transition: clip-path t(fast) ease('power3.out');
        }

        &:hover {
            &::before {
                animation-play-state: running;
                clip-path: polygon(15% 5%, 85% 5%, 95% 15%, 95% 85%, 85% 95%, 15% 95%, 5% 85%, 5% 15%);
            }
        }
    }
}

// Content
// ========================================
.c-features-grid_title {
    display: inline-block;
    text-wrap: balance;

    .c-features-grid_cell.-direction & {
        transition: transform t(normal) ease('power3.out');

        // html.is-scrolling-up & {
        //     transform: scaleY(-100%);
        //     animation: blink 100ms step-start 3;
        // }
    }
    .c-features-grid_cell.-link & {
        position: absolute;
        bottom: 0;
        left: 0;
        clip-path: inset(0 #{rem(-16px)});
    }
}

.c-features_direction_title {
    display: flex;
    gap: rem(10px);
}

.c-features_direction_arrows {
    position: relative;
    clip-path: inset(0);

    

    span {
        --translate: 0%;
        display: block;
        transition: transform t('medium') ease('power3.out');
        &:nth-of-type(1) {
            transform: translate3d(0, var(--translate), 0);
        }
        &:nth-of-type(2) {
            position: absolute;
            transform: translate3d(0, calc(var(--translate) + 100%), 0);
            top: 0;
            left: 0;
        }

        html.is-scrolling-up & {
            --translate: -100%;
        }
    }
}

.c-features-grid_title_label {
    display: inline-block;

    @media (hover: none) {
        &:nth-child(2) {
            display: none;
        }
    }

    @media (hover: hover) {
        transition: transform t(normal) ease('power4.out');

        &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(#{rem(-16px)}, -100%, 0);
        }

        .c-features-grid_cell:hover & {
            &:nth-child(1) {
                transform: translate3d(#{rem(16px)}, 100%, 0);
            }
            &:nth-child(2) {
                transform: translate3d(0,0,0);
            }
        }
    }
}

.c-features-grid_desc {
    max-width: rem(220px);

    @media (max-width: $to-small) {
        opacity: .6;
    }
}

.c-features-grid_index {
    position: absolute;
    top: 0;
    right: 0;
}

.c-features-grid_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @media (hover: hover) {
        svg {
            transition: transform t(normal) ease('power4.out');

            .c-features-grid_cell:hover & {
                transform: scale3d(.95, .95, 1);
                animation: blink 100ms step-start 3;
            }
        }
    }
}

// Icon
// ========================================
.c-features-grid_icon-container {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
    display: flex;
    overflow: hidden;
}

.c-features-grid_icon {
    padding: rem(6px);

    &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(-100%, 100%, 0);
    }

    html.is-first-loaded & {
        transition: transform t(normal) ease('power4.out');
    }

    html.is-first-loaded .c-features-grid_cell:hover & {
        &:nth-child(1) {
            transform: translate3d(100%, -100%, 0);
        }
        &:nth-child(2) {
            transform: translate3d(0, 0, 0);
        }
    }
}

// Keyframes
// ========================================
@keyframes blink {
    50% {
        opacity: 0;
    }
}
