// ==========================================================================
// Components / Perks list
// ==========================================================================

.c-perks-list {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform-origin: top right;
        transform: scale3d(0,1,1);
    }

    html.is-first-loaded & {
        &::before {
            transition: transform t() ease('power3.inOut');
        }

        &.is-inview::before {
            transform: scale3d(1,1,1);
            // transition-delay: var(--master-delay);
        }
    }

    @media (min-width: $from-medium) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: var(--grid-gutter);
    }
}

.c-perks-list_inner {
    @media (min-width: $from-medium) {
        grid-column: 2/-1;
    }
}

.c-perks-list_item {
    position: relative;
    padding: rem(8px) 0 rem(20px);
    clip-path: inset(0);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform-origin: top right;
        transform: scale3d(0,1,1);

        html.is-first-loaded & {
            transition: transform t() ease('power3.inOut');
        }

        html.is-first-loaded .c-perks-list.is-inview & {
            transform: scale3d(1,1,1);
            transition-delay: calc((var(--index) + 1) * 0.08s);
        }
    }

    @media (max-width: $to-small) {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: $from-small) {
        display: grid;
        align-items: flex-start;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $from-medium) {
        grid-template-columns: 1fr 2fr;
    }
}

.c-perks-list_title {
    @media (min-width: $from-medium) {
        grid-column: 1/2;
    }
}

.c-perks-list_description {
    @media (max-width: $to-small) {
        margin-top: rem($unit-small);
    }
    @media (min-width: $from-medium) {
        grid-column: 2/-1;
    }
}

.c-perks-list_title,
.c-perks-list_description {
    opacity: 0;
    transform: translate3d(0, 100%, 0);

    html.is-first-loaded & {
        transition: transform t(normal) ease('power3.out'), opacity t(normal) ease('power3.out');
    }

    html.is-first-loaded .c-perks-list.is-inview & {
        opacity: 1;
        transform: translate3d(0,0,0);
        transition-delay: calc((var(--index) + 1) * 0.08s + .5s);
    }
}
