@use "../core" as *;

.c-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    cursor: wait;
    background-color: #202ded;
    pointer-events: none;

    html.is-ready & {
        transition: opacity 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000), visibility 0s 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 0;
        visibility: hidden;
    }
}