// ==========================================================================
// Components / Section heading
// ==========================================================================


@use "../core" as *;
.c-section-heading {
    display: flex;
    flex-direction: column;
}

.c-section-heading_line {
    .c-section-heading_line + & {
        margin-top: 0.05em;
    }

    @media (max-width: $to-medium) {
        display: flex;
        flex-wrap: wrap;
    }

    &:last-child {
        @media (min-width: $from-medium) {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            column-gap: var(--grid-gutter);
            align-items: flex-end;
        }
    }
}

.c-section-heading_word {
    display: inline-block;
    width: 100%;
    text-align: center;

    @media (max-width: $to-medium) {
        .c-section-heading_line:last-child & {
            margin-bottom: rem(50px);
        }
    }

    @media (min-width: $from-medium) {
        .c-section-heading_line:last-child & {
            grid-column: 2/3;
            margin-bottom: -0.02em;
        }
    }
}

.c-section-heading_label {
    display: flex;
    align-items: center;

    @media (max-width: $to-medium) {
        flex: 0 0 50%;

        &.-left {
            flex-direction: column;
        }

        &.-right {
            flex-direction: column-reverse;
        }
    }

    @media (min-width: $from-medium) {
        justify-content: center;
        column-gap: .5em;
        grid-row: 1/2;

        &.-left {
            grid-column: 1/2;
        }

        &.-right {
            grid-column: 3/4;
        }
    }
}
