.c-section {
    position: relative;
    padding-bottom: 25vh;
    margin-bottom: 50vh;

}

.c-section_infos {
    position: relative;
    max-width: 320px;
    z-index: 0;
    padding-top: rem($unit * 2);

    &.-padding {
        padding-top: 35vh;
    }
}

.c-sections_infos_text {
    margin-top: rem($unit/4);
}
