html{
    height: 100%;
}

body {
    margin: 0;
    .has-smooth-scroll & {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.o-scroll{
    .has-smooth-scroll & {
        height: 100%;
        position: relative;
    }
}


.scroll-content {
    overflow: auto;

    body[data-wheel-reversed] & {
        width: 200vw;
    }
}

// example
.o-scroll_example {
    font-size: 0;
    text-align: center;

    >div {
        font-size: 1rem;
        display: inline-block;
        width: 40vw;
        margin: 30px;
        height: 500px;
        background-color: blue;
        z-index: 10;
        position: relative;

        div {
            background-color: red;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 30px;
            right: 30px;
        }

        &.-sticky {
            background-color: green;
            z-index: 100;
        }
    }
}

.js-animate {
    opacity: 0;
    transition: opacity 1s ease-out;

    &.is-show,
    &.-sticky{
        opacity: 1;
    }
    &.is-red {
        transition: opacity 1s ease-out, background-color 1s ease-out 0.3s;
        opacity: 1;
        background-color: red;
    }
}
