// ==========================================================================
// Tailwind CSS
// ==========================================================================
/**
* This injects Tailwind's base styles and any base styles registered by
* plugins.
*/
@tailwind base;

/**
* This injects Tailwind's component classes and any component classes
* registered by plugins.
*/
@tailwind components;

/**
* This injects Tailwind's utility classes and any utility classes registered
* by plugins.
*/
@tailwind utilities;

// ==========================================================================
// Fonts imports
// ==========================================================================
@layer base {
    // @font-face {
    //     font-family: 'IBM Plex Mono';
    //     src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
    //     font-weight: normal;
    //     font-style: normal;
    //     font-display: swap;
    // }
}

// ==========================================================================
// Vendors
// ==========================================================================
@import '../../../../dist/locomotive-scroll.css';

// ==========================================================================
// Local files imports
// ==========================================================================
@import 'tools/maths';
@import 'tools/functions';

// ==========================================================================
// Global styles
// ==========================================================================
:root {
    --color-primary: color('black');
    --color-secondary: color('white');
}

html {
    font-family: theme('fontFamily.sans');
}

body {
    background: var(--color-secondary);
    color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-shadow: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}

html[data-scroll-orientation='horizontal'] {
    body {
        width: fit-content;
    }
    main {
        display: flex;
    }
}

:root {
    --color-1: #f4f4ed;
    --color-2: #6decaf;
    --color-3: #357ded;
    --color-4: #5e239d;
    --color-5: #f61067;
}

.c-scroll_offset {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 1;

        html[data-scroll-orientation='vertical'] & {
            width: 100%;
            height: 1px;
        }
        html[data-scroll-orientation='horizontal'] & {
            width: 1px;
            height: 100%;
        }
    }

    &:before {
        background-color: rgb(217, 66, 66);
        html[data-scroll-orientation='vertical'] & {
            bottom: var(--offset-start);
        }
        html[data-scroll-orientation='horizontal'] & {
            right: var(--offset-start);
        }
    }

    &:after {
        background-color: rgb(74, 166, 215);
        html[data-scroll-orientation='vertical'] & {
            top: var(--offset-end);
        }
        html[data-scroll-orientation='horizontal'] & {
            left: var(--offset-end);
        }
    }
}

.c-scroll_section {
    width: 100%;
    background-color: var(--color-1);

    &.-full {
        height: calc(100 * var(--svh));

        html[data-scroll-orientation='horizontal'] & {
            width: 100vw;
            flex-shrink: 0;
        }
    }

    &.-centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.-row {
        flex-direction: row;

        html[data-scroll-orientation='horizontal'] & {
            flex-direction: column;
        }
    }
}

.c-scroll_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;

    html[data-scroll-orientation='horizontal'] & {
        width: 24vh;
        height: 24vh;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.c-scroll-opacity {
    opacity: 1 !important;
    transition: opacity 0.75s ease();
}

.c-scroll-rotate {
    transform: rotate(2turn) !important;
    transition: transform 0.75s ease();
}

.c-scroll-direction {
    html[data-scroll-orientation='vertical'] & {
        transform: scaleY(var(--scroll-direction));
    }
    html[data-scroll-orientation='horizontal'] & {
        transform: scaleX(var(--scroll-direction)) rotate(-90deg);
    }
}

.c-scroll-toggler {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: grey;
    padding: 0.5em;
}
