// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================

$color-lightest:    #FFFFFF;
$color-darkest:     #000000;

// Specific
// =============================================================================

// Link
$color-link:        #1A0DAB;
$color-link-focus:  #1A0DAB;
$color-link-hover:  darken(#1A0DAB, 10%);

// Selection
$selection-text-color:          #3297FD;
$selection-background-color:    #FFFFFF;

// Social Colors
// =============================================================================

$color-facebook:    #3B5998;
$color-instagram:   #E1306C;
$color-youtube:     #CD201F;
$color-twitter:     #1DA1F2;
